

<div class="tile">
    <img class="" src="<%= thumbnail %>">

    <h4 class="tile-title"><%= title %></h4>
    <a id="deets" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deetsModal">
      see details...
    </a>

        <div class="tagsinput">
        <span class="tag">
            <span>Remove &nbsp;</span>
            <a class="remove-item tagsinput-remove-link"></a>
        </span>
        </div>

</div>