<div class="window-overlay">

    <div id="viewer" style="height: 600px"></div>
    <div class="modal-footer">
        <button id="closer" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="want-button" type="button" class="btn btn-primary">Want it</button>
    </div>
</div>