<br>
<div class="todo-search">
    <input id="add-item" type="text" class="todo-search-field" placeholder="Enter an item you want...">
</div>


<div class="container">


    <div class="row">

        <div class="col-md-2">
             <div class="remaining"></div>
             <div class="want-list">

             </div>

        </div>

    </div>
</div>
<div id="details"></div>
<div id="all-wants"></div>

