<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li class="gn-search-item">
                            <input placeholder="Search" type="search" class="gn-search" id="add-item">
                            <a class="gn-icon gn-icon-search"><span>Search</span></a>
                        </li>
                        <li>
                            <a href="#topics" class="gn-icon gn-icon-download closed">Topics</a>
                            <ul class="gn-submenu" id="dropper">
                                <!--topics-->
                            </ul>
                        </li>
                        <li id="myBooks">
                            <!--wants-->
                        </li>
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>
        <li><a id="namer" href="#"></a></li>
    </ul>
</div><!-- /container -->


<br>

<div id="flasher" class="col-sm-6 col-md-6">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> ×</button>
        <span class="glyphicon glyphicon-ok"></span> <strong>Success</strong>
        <hr class="message-inner-separator">
        <p> </p>
    </div>
</div>

<ul class="bookshelf"></ul>
<ul id="topics" style="margin-top: 100px"></ul>
<div class="rower">
    <ul id="all-wants"></ul>
</div>

<div id="details" style="width: 80%;margin: 0 auto;">
    <div class="window-overlay">
        <div class="modal-header">
            <button id="closer" type="button" class="btn btn-default">Close</button>
        </div>
        <div id="viewer" style="height: 600px"></div>
    </div>
</div>




