

<div class="tile">
    <img class="" src="<%= item.get('image') %>">

    <h4 class="tile-title"><%= item.get('title') %></h4>
    <a id="deets" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deetsModal">
      see details...
    </a>
    <!-- <input class="edit" type="text" value="<%- item.get('title') %>" /> -->

        <div class="tagsinput">
        <span class="tag">
            <span>Remove &nbsp;</span>
            <a class="remove-item tagsinput-remove-link"></a>
        </span>
        </div>

</div>