<a class="gn-icon gn-icon-archive" id="showAllWants">My library: {{wantToRead}}

</a>

<a href="#removeAll" class="btn btn-danger" id="removeAll">remove all </a>
<div id="dialog-confirm" style="display: none"></div>