<div class="tile">
        <h5>Want to read:</h5>
        <h5 id='want-count'><%= wantToRead %></h5>
        <br>

            <button class="btn btn-danger" id="removeAll">remove all </button>
            <a class="btn btn-success" id="showAllWants" data-toggle="modal" data-target="#wantsModal">My books</a>

</div>
