<!--<p style="width: 10%; margin: 20% auto">loading...</p>-->

<div id="splash">
  <table height="90%" width="100%">
    <tbody>
    <tr>
      <td height="100%" align="center" width="100%" valign="middle">
        <div class="spinner"></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>