

.bookshelf, #all-wants{
  width: 79%;
  position: relative;
  margin: 15px 325px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    display: inline-block;
    margin: 40px 0 0 0;
    padding: 45px 0;
    max-width: 75%;
    width: 324px;
    vertical-align: top;
  }
}





.bookshelf figcaption, #all-wants figcaption {
  position: relative;
  top: 100%;
  padding: 0 2em;
  text-align: center;
  h2 {
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 1.8em;
    font-family: "DroidSerif-Bold", serif;
    span {
      position: relative;
      display: block;
      margin: 1em 0 0 0;
      padding: 1em 0 0 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 0.4em;
      font-family: "Lato", sans-serif;
      &::before {
        position: absolute;
        top: 0;
        left: 40%;
        width: 20%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        content: '';
      }
    }
  }
}
