



//
//main {
//  @extend .container;
//  padding-bottom: 80px;
//  width: 100%;
//  margin-top: 51px; // accommodate the navbar
//}
//section {
//  @extend .row;
//  margin-top: 20px;
//}




.rowerg{
  width: 70%;
  margin: 10em auto;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: gray;
}


.ui-autocomplete{
  z-index: 99999999;
  width: 340px !important;
  border: none !important;
  border-radius: 0px;
  //background: #34495E;
  LI{

    A{
      color: #566473;

      &:hover{
        color: whitesmoke;
      }
    }
  }
}
.ui-menu-item{
  height: 100px;
}
.ui-menu .ui-menu-item a:hover {
  background: #34495e;
  border: none;
  color: #ECF0F1;
  cursor: pointer;
  border-radius: 0px;
}
DIV.list_item_container {
  height: 90px;
  padding: 0px;
}
.image {
  width:90px;
  height: 90px;
  float: left;
  display: inline-block;
}
DIV.description {
  width: 233px;
  font-size: 0.7em;
  padding: 5px;
  margin: 5px;
  display: inline-block;

}



.spinner {
  //display: none;
  width: 30px;
  height: 30px;
  background-color: rgba(187, 123, 84, 0.65);
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 9999;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}







