<div class="rere" style="margin-top: 100px">
      <ul>
           <li><a class="art" href="#"> {{art}} </a></li>
           <li><a class="history" href="#"> {{history}} </a></li>
      </ul>
      <div id="results"></div>
</div>